.App {
    min-height: 60vh;
    border-radius: 10px;
    border: 1px var(--blue1) solid;
    box-shadow: 2px 2px 4px 1px var(--blue1);
    padding: 0vh 1rem 
}

h1 {
    text-align: center;
    font-size: 3em;
    color: var(--blue2);
}

.textInput {
    background-color: var(--white);
    border-color: var(--blue1);
}

.textInput:focus {
    outline: none;
    border-width: 1px;
}

.buttonInput {
    background-color: var(--blue1);
    color:white;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px var(--white) solid;
    font-size: 20px;
}

.inputContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
}

.infoRow {
    font-size: 20px;
    padding: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.infoTop {
}

.infoBottom {
}
